.storeContainer {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.storeItems {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.itemCount {
  font-weight: bold;
  font-size: 1em;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  margin-right: 1em;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: white;
  padding: 0.5em;
  max-width: 200px;

  border-radius: 10px;
  box-shadow: 2px 5px 10px lightgrey;
}

.item:hover {
  cursor: pointer;
  border: 1px solid lightgray;
}

.item:active {
  transform: translateY(2px);
}
.itemImg {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.itemTitle {
  width: 100%;
  font-size: 0.8em;
  font-weight: bold;
}
.categoryContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}
.categoryContainer h1 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkBox {
  width: 20px;
  height: 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
  align-self: center;
  justify-self: center;
  flex-shrink: 0;
  transition: background-color 300ms ease;
}

.category {
  display: flex;
  gap: 2em;
}

.categoryName {
  min-width: 130px;
}

.category.active .checkBox {
  background-color: black;
  border: 1px solid black;
}

.itemDescription {
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.itemCategory {
  font-size: 0.8em;
  color: gray;
}

.itemPrice {
  font-weight: bold;
}

@media screen and (max-width: 620px) {
  .storeContainer {
    flex-direction: column;
  }
  .storeItems {
    align-items: center;
  }
  .itemContainer {
    justify-content: center;
  }
}
