.itemContainer {
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: white;
  padding: 0.5em;
  max-width: 200px;

  border-radius: 10px;
  box-shadow: 2px 5px 10px lightgrey;
}

.item:hover {
  cursor: pointer;
  border: 1px solid lightgray;
}

.item:active {
  transform: translateY(2px);
}
.itemImg {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.itemTitle {
  width: 100%;
  padding-top: 1em;
  font-size: 0.5em;
  font-weight: bold;
  justify-self: end;
}
