.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: 2em;

  font-size: 1.2em;
}

.homeTitle {
  font-weight: bold;
  font-size: 2.3em;
}

.shopLink {
  padding: 1em;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  font-weight: bold;
}
.shopLink:hover {
  background-color: lightgray;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.featuredItems {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: lightgray;
}

.footer {
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 100vw;
  height: 10vh;
}
