body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
}

div.loading,
div.error {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  font-size: 2em;
  font-weight: bold;
}

div.errorPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
div.errorPage .errorLink {
  text-decoration: underline;
}
